@import "../../styles/colours.scss";
@import "../../styles/global.scss";

@mixin tag($type) {
  font-size: 0.7rem;
  border-radius: 3px;
  padding: 3px;
  text-align: center;
  margin: 3px;

  @if $type == admin {
    border: 1px solid $yellow3;
    background: $yellow6;
    color: $yellow3;
  } @else if $type == external {
    border: 1px solid $blue5;
    background: $blue6;
    color: $blue3;
  } @else if $type == warning {
  } @else if $type == error {
  } @else {
    @error "Tag: Unknown directive: #{$type}";
  }
}

.admin {
  @include tag(admin);
}
.external {
  @include tag(external);
}
.warning {
  @include tag(warning);
}
.error {
  @include tag(error);
}
