// monochrome
$dark1: #21252a;
$dark2: #343a40;
$dark3: #30363e;

$grey1: #868e96;
$grey2: #adb5bd;
$grey3: #cfd4da;
$grey4: #dee2e6;

$white1: #e8ebed;
$white2: #f1f3f5;
$white3: #f8f9fa;

$gold1: #f0ab00;
$gold2: #ffbc00;
$gold3: #ffd972;

$yellow1: #5c4813;
$yellow2: #8c6d1f;
$yellow3: #caa53d;
$yellow4: #f4ca64;
$yellow5: #fae29f;
$yellow6: #fdf3d7;

$blue1: #203d54;
$blue2: #1a4971;
$blue3: #2368a2;
$blue4: #3183c8;
$blue5: #63a3d8;
$blue6: #aad4f5;
