@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap);

// TRUE GLOBL
* {
  box-sizing: border-box;
}

#root {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

// GENERIC
@mixin ubuntu {
  font-family: "Ubuntu", sans-serif;
}
@mixin center-absolute {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
}

// FLEX MIXINS
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// REUSABLE UI
@mixin input {
  border: 1px solid $grey1;
  border-radius: 4px;
  height: 25px;
  padding-left: 5px;

  &:focus::placeholder {
    color: white;
  }
  &:focus {
    border: 1px solid $gold1;
    box-shadow: 0 0 0px 2px $gold3;
  }
}

@mixin panel {
  background: $white1;
  width: 100%;
  border-radius: 5px;
  border: 1px solid $grey2;
  padding: 10px;
}
