@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap);

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin ubuntu {
  font-family: "Ubuntu", sans-serif;
}

@mixin input {
  border: 1px solid $grey1;
  border-radius: 4px;
  height: 25px;
  padding-left: 5px;

  &:focus::placeholder {
    color: white;
  }
  &:focus {
    border: 1px solid $gold1;
    box-shadow: 0 0 0px 2px $gold3;
  }
}

@mixin userTag {
  font-size: 0.7rem;
  border-radius: 3px;
  padding: 3px;
  text-align: center;
  margin: 0 2px;
}

@mixin center-absolute {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
}

* {
  box-sizing: border-box;
}

#root {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}
