@import "../../styles/colours.scss";
@import "../../styles/global.scss";

.subnav {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  height: 25px;
  background: $grey3;
  border-bottom: 1px solid $grey1;
  font-family: "Ubuntu", sans-serif;

  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
      font-size: 0.8rem;
      padding: 0 10px;
      height: 100%;
      @include flex-center;
      transition: 0.2s ease-in-out;

      &:hover {
        background: $grey2;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }
    }
  }
}
