@import "../../styles/colours.scss";
@import "../../styles/global.scss";

.wrapper {
  @include ubuntu;
  margin: 90px 15px 0 15px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  grid-gap: 15px;
}

.userSearchPanel {
  @include panel;
  display: flex;
  flex-direction: column;

  > div:first-of-type {
    @include flex-sb;
    height: 26px;

    label {
      font-size: 0.7rem;
      font-weight: normal;
      color: $grey1;
      padding: 2px 6px;
      margin: 0 6px;
      background: $grey3;
      border-radius: 3px;
    }
    input[type="checkbox"] {
      outline: 0px solid $grey1;
      padding: 0;
      margin: 0;

      &:focus {
        outline: 1px solid $gold1;
        box-shadow: 0 0 0 2px $gold3;
      }
    }
  }

  h1 {
    color: $dark3;
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
}

.search {
  margin-top: 8px;
  @include input;
}

.user {
  width: 95%;
  height: 30px;
  border-radius: 4px;
  background: $white2;
  margin: 3px auto;
  border: 1px solid $grey1;
  padding: 0 6px;
  @include ubuntu;
  color: $dark3;
  @include flex-sb;

  &:hover {
    box-shadow: 0 0 0 2px $grey3;
    cursor: pointer;
  }

  > div {
    height: 100%;
    display: flex;
    align-items: center;
  }

  p > span {
    color: $grey1;
    font-weight: normal;
    font-style: italic;
    font-size: 0.8rem;
  }
}

.inactive {
  border: 1px dashed $grey1;
}

.splitPanel {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-gap: 15px;

  > div {
    @include panel;
  }

  h1 {
    color: $dark3;
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
  }
}
